// COLORS
// GREYS
$color-grey1: #ececec;
$color-grey2: #8d8d8d;
// WHITE / BLACK
$color-black: #1d1d1d;
$color-white: #fff;
$color-white2: #F8F8F8;

// FONTS
$font-text: 'Lato', sans-serif;

// SIZES

