// COLORS
$color-main: #04d3a7;
$color-hover: #c6fbff;
$color-pink: #ff1546;
$color-orange: #fe9901;

// GREYS
$color-grey1: #ececec;
$color-grey2: #8d8d8d;
// WHITE / BLACK
$color-black: #1d1d1d;
$color-white: #fff;
$color-white2: #F8F8F8;

// FONTS
$font-title: 'Space Mono', monospace;
$font-text:  'Josefin Sans', sans-serif;

// SIZES
$size-title: 30px;
$size-text: 20px;
