/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* input color width */
input[type=color] {
  width: 1em; }

/* IE clear cross */
input::-ms-clear {
  display: none; }

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* mark */
mark {
  background: none; }

/* Font smoothing */
/**,*::before,*::after,*:before,*:after {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0; }

/* u */
u {
  text-decoration: none; }

/* th */
table th {
  text-align: left; }

/* a */
a {
  color: inherit;
  outline: none; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  html .container, body .container {
    width: 100%;
    margin: auto;
    background: #fff; }

.container-door {
  width: 100%;
  height: 100vh;
  background-color: #1d1d1d; }
  .container-door .left {
    width: 50%;
    height: 120%;
    background-image: url(../../assets/img/porte-gauche.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
    top: -50px;
    left: 0; }
    .container-door .left .logo img {
      width: 250px;
      opacity: 0.15;
      margin: 100px 0 0 100px; }
  .container-door .right {
    width: 65%;
    height: 120%;
    background-image: url(../../assets/img/porte-droite.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    top: -50px;
    right: 0; }
  .container-door .container-birth {
    width: 700px;
    height: 700px;
    background-image: url(../../assets/img/interface-bleu.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -360px;
    margin-top: -320px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-door .container-birth .form-birth {
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Space Mono", monospace;
      color: #fff;
      font-weight: 700;
      font-size: 20px; }
      .container-door .container-birth .form-birth .inputs, .container-door .container-birth .form-birth .code-form {
        width: 100%;
        height: auto;
        display: flex; }
      .container-door .container-birth .form-birth .inputs {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        opacity: 0.7; }
        .container-door .container-birth .form-birth .inputs label {
          margin-bottom: 5px; }
        .container-door .container-birth .form-birth .inputs input {
          width: 70%;
          height: 40px;
          margin-bottom: 10px;
          text-align: center;
          line-height: 30px;
          border: solid 3px #04d3a7;
          border-radius: 30px; }
      .container-door .container-birth .form-birth .code-form {
        flex-direction: row;
        justify-content: center;
        background-image: url(../../assets/img/clavier.png);
        background-size: contain;
        background-position: 53% 50%;
        background-repeat: no-repeat;
        color: #fff; }
        .container-door .container-birth .form-birth .code-form .numbers {
          width: 160px;
          height: auto;
          opacity: 0.7;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding-right: 10px; }
          .container-door .container-birth .form-birth .code-form .numbers .number {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
            line-height: 50px; }
        .container-door .container-birth .form-birth .code-form .submit {
          margin-top: 0px;
          width: 50px;
          height: 70px;
          text-align: center;
          opacity: 0.7; }
          .container-door .container-birth .form-birth .code-form .submit input[type='submit'] {
            width: 100;
            height: 100%;
            font-size: 15px;
            text-align: center;
            font-weight: 700; }

/*# sourceMappingURL=main.css.map */
