/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* input color width */
input[type=color] {
  width: 1em; }

/* IE clear cross */
input::-ms-clear {
  display: none; }

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* mark */
mark {
  background: none; }

/* Font smoothing */
/**,*::before,*::after,*:before,*:after {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0; }

/* u */
u {
  text-decoration: none; }

/* th */
table th {
  text-align: left; }

/* a */
a {
  color: inherit;
  outline: none; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  html .container, body .container {
    width: 100%;
    margin: auto; }

.container-door {
  width: 100%;
  height: 100vh;
  background-color: #1d1d1d; }
  .container-door .left {
    width: 50%;
    height: 120%;
    background-image: url(../../assets/img/porte-gauche.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
    top: -50px;
    left: 0; }
    .container-door .left .logo img {
      width: 250px;
      opacity: 0.15;
      margin: 100px 0 0 100px; }
  .container-door .right {
    width: 65%;
    height: 120%;
    background-image: url(../../assets/img/porte-droite.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    top: -50px;
    right: 0; }
  .container-door .container-birth {
    width: 700px;
    height: 700px;
    background-image: url(../../assets/img/interface-bleu.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -360px;
    margin-top: -320px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-door .container-birth .form-birth {
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Space Mono", monospace;
      color: #fff;
      font-weight: 700;
      font-size: 20px; }
      .container-door .container-birth .form-birth .inputs, .container-door .container-birth .form-birth .code-form {
        width: 100%;
        height: auto;
        display: flex; }
      .container-door .container-birth .form-birth .inputs {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        opacity: 0.7; }
        .container-door .container-birth .form-birth .inputs label {
          margin-bottom: 5px; }
        .container-door .container-birth .form-birth .inputs input {
          width: 70%;
          height: 40px;
          margin-bottom: 10px;
          text-align: center;
          line-height: 30px;
          border: solid 3px #04d3a7;
          border-radius: 30px; }
      .container-door .container-birth .form-birth .code-form {
        flex-direction: row;
        justify-content: center;
        background-image: url(../../assets/img/clavier.png);
        background-size: contain;
        background-position: 53% 50%;
        background-repeat: no-repeat;
        color: #fff; }
        .container-door .container-birth .form-birth .code-form .numbers {
          width: 160px;
          height: auto;
          opacity: 0.7;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding-right: 10px; }
          .container-door .container-birth .form-birth .code-form .numbers .number {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
            line-height: 50px; }
        .container-door .container-birth .form-birth .code-form .submit {
          margin-top: 0px;
          width: 50px;
          height: 70px;
          text-align: center;
          opacity: 0.7; }
          .container-door .container-birth .form-birth .code-form .submit input[type='submit'] {
            width: 100;
            height: 100%;
            font-size: 15px;
            text-align: center;
            font-weight: 700; }

.recap-container {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background-recap.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .recap-container .header {
    width: 100%;
    height: 10%;
    padding: 10px 15px 0 5%;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .recap-container .header .name {
      color: #ff1546;
      margin-bottom: 10px; }
    .recap-container .header .birth {
      color: #fff; }
    .recap-container .header a {
      display: block;
      color: #ff1546;
      font-size: 3em;
      text-decoration: none; }
    .recap-container .header h1 {
      width: 100%;
      margin-top: 100px;
      font-family: "Space Mono", monospace;
      font-size: 10em;
      font-weight: 700;
      color: #04d3a7;
      opacity: 0.5;
      text-align: center;
      letter-spacing: 20px; }
  .recap-container .container {
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: flex-start;
    position: relative;
    z-index: 1; }
    .recap-container .container .recap-event, .recap-container .container .square {
      width: 30%;
      height: 100%; }
    .recap-container .container .square {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      vertical-align: center; }
    .recap-container .container .recap-evolution, .recap-container .container .recap-time, .recap-container .container .recap-astrology, .recap-container .container .recap-funfact {
      width: 100%;
      height: 48%; }
    .recap-container .container .recap-evolution, .recap-container .container .recap-time, .recap-container .container .recap-astrology, .recap-container .container .recap-funfact, .recap-container .container .recap-event {
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: -5px 5px 30px 1px #1d1d1d;
      border: 2px solid rgba(4, 211, 167, 0.2);
      color: #fff; }
    .recap-container .container h2 {
      font-family: "Space Mono", monospace;
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
      padding-top: 20px; }
    .recap-container .container .line {
      width: 100px;
      height: 0px;
      border: 1px solid #04d3a7;
      margin: 5px 0px 30px 0px;
      box-shadow: 0px 0px 20px 3px #04d3a7;
      margin: 10px 50%; }
    .recap-container .container p {
      width: 50%;
      margin: 30px auto;
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px; }

.container-landing {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background-recap.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .container-landing .header {
    width: 100%;
    height: 10%;
    padding: 50px 50px 0 50px;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .container-landing .header .header-left {
      width: 15%;
      height: 100%;
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .container-landing .header .header-left .logo {
        background: #1d1d1d;
        border-radius: 50%;
        box-shadow: 0px 3px 10px 0px #fff; }
        .container-landing .header .header-left .logo img {
          opacity: 0.5;
          width: 100px; }
      .container-landing .header .header-left .info-perso {
        margin-left: 50px; }
      .container-landing .header .header-left .name {
        color: #ff1546;
        margin-bottom: 10px; }
      .container-landing .header .header-left .birth {
        color: #fff; }
    .container-landing .header .header-right {
      width: 15%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
  .container-landing .container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
    .container-landing .container .resume {
      width: 30%;
      height: 90%; }
      .container-landing .container .resume .title-container {
        width: 100%;
        height: 80px; }
        .container-landing .container .resume .title-container .title {
          font-family: "Space Mono", monospace;
          font-size: 3em;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          padding-top: 20px; }
        .container-landing .container .resume .title-container .line {
          width: 50%;
          height: 0px;
          border: 1px solid #04d3a7;
          box-shadow: 0px 0px 20px 3px #04d3a7;
          margin: 20px 50%; }
      .container-landing .container .resume .content-container {
        width: 100%;
        height: calc(100% - 110px);
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: overlay; }
        .container-landing .container .resume .content-container .content-box {
          width: 100%;
          height: auto;
          background: rgba(0, 0, 0, 0.4);
          padding: 30px;
          margin-bottom: 5px;
          font-family: "Space Mono", monospace;
          color: #fff; }
          .container-landing .container .resume .content-container .content-box .intro {
            color: #04d3a7;
            font-size: 18px;
            margin-bottom: 10px; }
          .container-landing .container .resume .content-container .content-box .data {
            font-size: 20px;
            font-weight: 700; }
          .container-landing .container .resume .content-container .content-box .data-text {
            margin-top: 30px;
            font-family: "Josefin Sans", sans-serif;
            font-size: 20px; }
    .container-landing .container .planet {
      width: 60%;
      height: 100%;
      position: relative; }
      .container-landing .container .planet .planet-icon, .container-landing .container .planet .clickpoint {
        position: absolute;
        cursor: pointer; }
      .container-landing .container .planet .planet-icon:first-child {
        top: 300px;
        left: 10px;
        width: 80px;
        height: 80px;
        background-image: url(../img/landing/soucoupe.png);
        background-repeat: no-repeat; }
      .container-landing .container .planet .planet-icon:first-child:hover {
        background-image: url(../img/landing/soucoupe_hover.png); }
      .container-landing .container .planet .planet-icon:nth-child(2) {
        top: 40px;
        left: 250px;
        width: 90px;
        height: 100px;
        background-image: url(../img/landing/telescope.png);
        background-repeat: no-repeat; }
      .container-landing .container .planet .planet-icon:nth-child(2):hover {
        background-image: url(../img/landing/telescope_hover.png); }
      .container-landing .container .planet .planet-icon:nth-child(3) {
        top: 700px;
        left: 180px;
        width: 80px;
        height: 80px;
        background-image: url(../img/landing/lampe.png);
        background-repeat: no-repeat; }
      .container-landing .container .planet .planet-icon:nth-child(3):hover {
        background-image: url(../img/landing/lampe_hover.png); }
      .container-landing .container .planet .planet-icon:nth-child(4) {
        top: 670px;
        left: 500px;
        width: 80px;
        height: 80px;
        background-image: url(../img/landing/event.png);
        background-repeat: no-repeat; }
      .container-landing .container .planet .planet-icon:nth-child(4):hover {
        background-image: url(../img/landing/event_hover.png); }
      .container-landing .container .planet .planet-icon:nth-child(5) {
        top: 300px;
        left: 670px;
        width: 80px;
        height: 80px;
        background-image: url(../img/landing/age.png);
        background-repeat: no-repeat; }
      .container-landing .container .planet .planet-icon:nth-child(5):hover {
        background-image: url(../img/landing/age_hover.png); }
      .container-landing .container .planet .clickpoint:nth-child(7) {
        top: 350px;
        left: 73px; }
      .container-landing .container .planet .clickpoint:nth-child(8) {
        top: 120px;
        left: 320px; }
      .container-landing .container .planet .clickpoint:nth-child(9) {
        top: 650px;
        left: 200px; }
      .container-landing .container .planet .clickpoint:nth-child(10) {
        top: 677px;
        left: 450px; }
      .container-landing .container .planet .clickpoint:nth-child(11) {
        top: 350px;
        left: 636px; }
      .container-landing .container .planet .planet-img {
        position: absolute;
        top: 100px;
        left: 50px; }
  .container-landing .share {
    width: 250px;
    height: 50px;
    border-radius: 20px 20px 0 0;
    border: 2px solid #ff1546;
    transition: 0.15s;
    position: relative;
    bottom: -50px;
    left: 50%;
    margin-left: -125px;
    background: #1d1d1d;
    width: 250px;
    font-family: "Space Mono", monospace;
    text-align: center;
    line-height: 50px;
    color: #fff; }
  .container-landing .share:hover {
    box-shadow: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.15);
    transition: 0.15s; }
  .container-landing .infos {
    position: absolute;
    bottom: 50px;
    right: 50px; }

/*# sourceMappingURL=main.css.map */
